<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="/style.css" media="screen" rel="stylesheet">
    <title>Gas IoT</title>
</head>
<body>
    <nav>
        <h1>
            Sensor de gás IoT
        </h1>
    </nav>
    <h3>Nível de gás:</h3>
    <div>
        <p id="valor">%valor%</p>
    </div>
</body>
</html>